
##########################################################
# EDIT THIS FILE TO CONFIGURE POPINS2 BEFORE COMPILATION #
##########################################################

# Paths to binaries of external tools
SAMTOOLS := samtools
BWA := bwa
SICKLE := sickle
VELVETH := velveth-63
VELVETG := velvetg-63
MINIA := external/gatb-minia-pipeline/gatb

##########################################################
