
##########################################################
# EDIT THIS FILE TO CONFIGURE POPINS2 BEFORE COMPILATION #
##########################################################

# Paths to binaries of external tools
SAMTOOLS := samtools
BWA := bwa
SICKLE := sickle
VELVETH := /fast/work/groups/ag_kehr/bin/velveth-63
VELVETG := /fast/work/groups/ag_kehr/bin/velvetg-63
MINIA := external/gatb-minia-pipeline/gatb
SPADES := spades

##########################################################

