
#########################################################
# EDIT THIS FILE TO CONFIGURE POPINS BEFORE COMPILATION #
#########################################################

# Paths to binaries of external tools
SAMTOOLS := samtools
BWA := bwa
SICKLE := sickle
VELVETH := velveth-63
VELVETG := velvetg-63
MINIA := gatb

#########################################################