name: CI

on:
  push:
  pull_request:

jobs:
  build-x86_64:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Build
      run: .github/build.sh

  build-aarch64:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Build
      uses: uraimo/run-on-arch-action@v2
      with:
        arch: aarch64
        distro: ubuntu20.04
        githubToken: ${{ github.token }}
        dockerRunArgs: |
          --volume "${PWD}:/PopIns2"
        install: |
          apt-get update -q -y
          apt-get install -q -y build-essential autoconf git cmake file zlib1g-dev ncurses-dev sudo libbz2-dev liblzma-dev
        run: |
          pushd /PopIns2
          .github/build.sh